<!DOCTYPE html>
<html lang="pl" data-theme="light">
<head>
    <meta charset="utf-8"/>
    <title>@ViewData["Title"] - SocialBridge.Main</title>
    <script type="module" src="http://localhost:3000/src/main.ts"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
@RenderBody()
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
